:root {
  --typography-label-l-default-font-family: var(--font-family-primary);
  --typography-label-l-default-font-weight: var(--font-weight-body);
  --typography-label-l-default-font-size: clamp(1rem, 0.912rem + 0.3756vw, 1.25rem);
  --typography-label-l-default-line-height: clamp(1.3333, 1.7359 - 1.0065vw, 1.5);
  --typography-label-l-default-letter-spacing: 0em;
}
